# งบประมาณของกทมประจำปี 2563_keyword

เมื่อได้ keyword จาก wordcould  แล้วใช้คำเหล่านี้เพื่อหาโครงการและงบประมาณโดยทำการสร้างตารางเพิ่ม

In [3]:
import pandas as pd
import numpy as np
import re

In [4]:
# ดาว์โหลดไฟล์ csv  จาก 1_bangkok_final
df = pd.read_csv('/content/drive/My Drive/project/bangkok/df1.csv')
print(df.head(5))
print(df.columns)

   Unnamed: 0  Index  ... รายจ่ายโครงการ       งบประมาณ
0           0      1  ...      486536500  กรุงเทพมหานคร
1           1      1  ...     2700000000  กรุงเทพมหานคร
2           2      1  ...      650000000  กรุงเทพมหานคร
3           3      1  ...      200000000  กรุงเทพมหานคร
4           4      1  ...       20000000  กรุงเทพมหานคร

[5 rows x 9 columns]
Index(['Unnamed: 0', 'Index', 'หน่วยงาน', 'รายจ่ายหน่วยงาน', 'แผนงาน',
       'ประเภทรายจ่าย', 'โครงการ', 'รายจ่ายโครงการ', 'งบประมาณ'],
      dtype='object')

In [9]:
# ใช้ keyword ในการหาคำในตารางแล้วสร้างคอลัมภ์ใหม่
keyword=['งานบริหาร','ก่อสร้าง','ระบบ','ควบคุม','ถนน','พัฒนา','คลอง','บำรุงรักษา','ระบายน้ำ','การคลัง','น้ำ']

m=[]
for i,word in enumerate(keyword):
    match_pattern = ".*({}).*".format(word)
    print(match_pattern )
    col=[]
    for index, row in df.iterrows():
        g=re.compile(match_pattern).search(row['โครงการ'])
        # print(g)
        if  g != None :
          k=word
        else:
          k='โครงการอื่น'
        col.append(k)
    m.append(col)

.*(งานบริหาร).*
.*(ก่อสร้าง).*
.*(ระบบ).*
.*(ควบคุม).*
.*(ถนน).*
.*(พัฒนา).*
.*(คลอง).*
.*(บำรุงรักษา).*
.*(ระบายน้ำ).*
.*(การคลัง).*
.*(น้ำ).*

In [10]:
print(len(m))

11

In [11]:
# สร้างตารางจาก keyword ที่ได้
df1=pd.DataFrame(zip(m[0],m[1],m[2],m[3],m[4],m[5],m[6],m[7],m[8],m[9],m[10]),columns=['งานบริหาร','ก่อสร้าง','ระบบ','ควบคุม','ถนน','พัฒนา','คลอง','บำรุงรักษา','ระบายน้ำ','การคลัง','น้ำ'])
df1.head(3)

     งานบริหาร     ก่อสร้าง         ระบบ  ...     ระบายน้ำ      การคลัง          น้ำ
0  โครงการอื่น  โครงการอื่น  โครงการอื่น  ...  โครงการอื่น  โครงการอื่น  โครงการอื่น
1  โครงการอื่น  โครงการอื่น  โครงการอื่น  ...  โครงการอื่น  โครงการอื่น  โครงการอื่น
2  โครงการอื่น  โครงการอื่น  โครงการอื่น  ...  โครงการอื่น  โครงการอื่น  โครงการอื่น

[3 rows x 11 columns]

In [13]:
# รวมตาราง
df2=pd.concat([df,df1], axis=1)
df2.tail(3)

      Unnamed: 0  Index  ...      การคลัง          น้ำ
1009        1009      2  ...  โครงการอื่น  โครงการอื่น
1010        1010      2  ...  โครงการอื่น  โครงการอื่น
1011        1011      3  ...  โครงการอื่น  โครงการอื่น

[3 rows x 20 columns]

In [ ]:
df2.to_csv('project.csv')